<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercicio 19</h1>
    <form method="POST">
        {% csrf_token %}
        <br><input type="text" name="cidade1"></br>
        <br><input type="text" name="cidade2"></br>
        <br><button type="text">Enviar</button>
    </form>

    {% if nome %}
        <p>O resultado fica: Olá, {{ nome }}!</p>
    {% endif %}
</html>