<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 4</h1>
    <p>Exibir quantas letras a palavra digitada tem</p>
    <form method="POST">
        {% csrf_token %}
        Digite uma palavra: <input type="text" name="palavra">
        <button type="submit">Enviar</button>
    </form>
    {% if quantidade %}
        <h2>{{quantidade}}</h2>
    {% endif %}
</body>
</html>